html{
    box-sizing: border-box;
}


.body{
    margin: 0;
    padding: 0;
}

.top{
    display: grid;
    background-image: url(../img/jesus.jpg);
    min-height: 450px;
    background-size: cover;
}

.unsub{
    background-color: #222;
    width: 100%;
    height: 4rem;
}

.learn{
    height: 1rem;
    width: 5rem;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 1px white solid;
    margin: 0 auto;
}