html{
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

.top{
    display: grid;
    background-image: 
        linear-gradient(to right bottom, rgba(255, 255, 0, 0.8), rgba(255, 255, 255, 0.8)),
        url(../img/jesus.jpg);
    min-height: 450px;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
}

.unsub{
    background-color: #222;
    width: 100%;
    height: 4rem;
}

.text1{
    margin-top: 3rem;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.text2{
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;
}

.learn{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    background-color: #222;
    padding: 12px 22px 12px 22px;
    border-radius: 5px;
}

.learn2{
    /*margin-top: 3rem;*/
    margin-bottom: 6rem;
}